.database{
    position: relative;
    height: 700px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 10px;
}

.database .query{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.database .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.database .header h2{
    font-weight: 600;
    color: var(--blue);
}

.database .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    border: none;
}

.database table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.database table th td{
    font-weight: 600;
}

.database table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.database table tr:last-child{
    border-bottom: none;
}

.database table tbody tr:hover{
    background: var(--blue);
    color: var(--white);
}

.database .center{
    text-align: center;
}

.database .center::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.database .pagination {
    display: inline-block;
}
  
.database .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.database .pagination a.value{
    pointer-events: none;
}
  
.database .pagination a.active {
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--blue);
}

.database .pagination a.active:hover{
    background: var(--white);
    color: var(--blue);
}

.query .header form{
    display: flex;
}