{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" type='text/css' href="static/css/bai5.css">

    <div class="b5container">
    <!-- Ô 1: Hiển thị giá trị -->
        <div class="box value-box">
          <p id="value"></p>
        </div>

        <!-- Ô 2: Biểu đồ -->
        <div class="chart">
            <canvas id="myChart"></canvas>
        </div>

        <!-- Ô 3: Icon Cảnh báo -->
        <div class="box icon-box">
          <div id="warning-icon" class="warning-icon"></div>
        </div>
    </div>

    <script src="static/js/bai5.js"></script>
{% endblock %}

