{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" type='text/css' href="static/css/database.css">
    <div class="database">
        <div class="query">

            <div class="header">
                <h2>Database</h2>
                <form id="searchForm" class="form-inline">
                    <input id="txt" name="txt" class="form-control mr-sm-2" type="search" placeholder="Search...">
                    <input name="pagesize" class="form-control mr-sm-2" type="number" value="20" min="1" max="30" style="width:50px;">
                    <select id="sortItem" name="sortItem" class="form-control mr-sm-2">
                        <option value="id">Id</option>
                        <option value="tem">Nhiệt độ</option>
                        <option value="hum">Độ ẩm</option>
                        <option value="lig">Ánh sáng</option>
                    </select>
                    <select id="sortOrder" name="sortOrder" class="form-control mr-sm-2">
                        <option value="asc">Sort Ascending</option>
                        <option value="desc">Sort Descending</option>
                    </select>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>

            <table id="dataTable">
                <thead>
                    <tr>
                        <td style="width: 10%;">Id</td>
                        <td style="width: 20%;">Temperature</td>
                        <td style="width: 20%;">Humidity</td>
                        <td style="width: 20%;">Light</td>
                        <td style="width: 30%;">Time</td>
                    </tr>
                </thead>
                <tbody>

        
                </tbody>
            </table>
            <div class="center">
                <div class="pagination">
                    <a href="#" id="prevPage" class="disabled">«</a>
                    <a href="javascript:void(0);" id="currentPage">1</a>
                    <a href="javascript:void(0);">/</a>
                    <a href="javascript:void(0);" id="totalPages">0</a>
                    <a href="#" id="nextPage">»</a>
                </div>
            </div>
            
        </div>
    </div>
    <script src="static/js/database.js"></script>
{% endblock %}