{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" type='text/css' href="static/css/portfolio.css">
    <div class="portfolio">
        <div class="port">
            <div class="avatar">
                <img src="static/image/user.jpg" alt="">
            </div>
            <div class="cont">
                <div>
                    <h2>Họ và Tên: Phan Tiến Tài</h2>
                </div>
                <div>
                    <h2>Mã Sinh Viên: B21DCCN655</h2>
                </div>
                <div>
                    <h2>Lớp: D21CQCN07-B</h2>
                </div>
                <div>
                    <a href="https://github.com/ptt3123/BTL_IOT.git">Git: Link Git </a>
                </div>

                <div>
                    <a href="https://github.com/ptt3123/BTL_IOT.git">PDF: Link PDF </a>
                </div>

                <div>
                    <a href="https://api.postman.com/collections/39545046-2e421d35-7d86-477f-90a0-5b0cd799382c?access_key=PMAT-01JC835EK5H1S9PRKZ7MMMBKC0">API Doc: Link API Doc </a>
                </div>
            </div>

        </div>
    </div>
    <script src="static/js/portfolio.js"></script>
{% endblock %}