{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" type='text/css' href="static/css/portfolio.css">
    <div class="portfolio">
        <div class="port">
            <div class="avatar">
                <img src="static/image/user.jpg" alt="">
            </div>
            <div class="cont">
                <div>
                    <h2>Họ và Tên: Phan Tiến Tài</h2>
                </div>
                <div>
                    <h2>Mã Sinh Viên: B21DCCN655</h2>
                </div>
                <div>
                    <h2>Lớp: D21CQCN07-B</h2>
                </div>
                <div>
                    <a href="https://github.com/ptt3123">Git: Link Git của Tài</a>
                </div>

                <div>
                    <a href="https://github.com/ptt3123">PDF: Link PDF của Tài</a>
                </div>

                <div>
                    <a href="https://github.com/ptt3123">API Doc: Link API Doc của Tài</a>
                </div>

            </div>
        </div>
    </div>
    <script src="static/js/portfolio.js"></script>
{% endblock %}